* {
  box-sizing: border-box;
}

video {
  width: 100%    !important;
  height: auto   !important;
  margin: 0 auto !important;
}

.textWrapper {
  width: 90%;
  margin: 2em auto;
}

p {
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
}

.highlight {
  font-weight: bold;
  color: orange;
}
