* {
  box-sizing: border-box; }

.videoWrapper {
  margin: 0 auto;
}

.mejs__player {
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.textWrapper {
  width: 90%;
  margin: 2em auto;
}

p {
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
}

.highlight {
  font-weight: bold;
  color: orange;
}
