* {
  box-sizing: border-box;
}

.videoWrapper {
    max-width: 768px;
    margin: auto;
}

.mejs__inner .mejs__controls {
  background-color: orange;
}

.textWrapper {
  width: 90%;
  max-width: 768px;
  margin: 2em auto;
}

p {
  font-family: 'Lato', sans-serif;
  line-height: 1.5em;
}

.highlight {
  font-weight: bold;
  color: orange;
}

/*** Media Query for Tablet or Desktop ***/

@media (min-width: 768px) {
  .videoWrapper {
    margin: 2em auto 3em;
  }
}
